.modern-box {
  border: 2px solid #f7f7f7;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modern-box img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: block; /* Ensure image is treated as a block element */
}
.center-button {
  text-align: center;
  margin-top: 15px;
}
.btn-custom{
  background-color: #FF1744; 
  color: white;
  border-color: #FF1744;
}
.btn-custom:hover{
  background-color: #FF1744; 
  color: white;
  border-color: #FF1744;
}
.btn-custom.clicked {
  background-color: #FF1744; /* Red color when clicked */
  border-color: #FF1744;
}