<nav class="navbar fixed-top navbar-dark navbar-expand-lg navbar-red-primary">
    <div class="container">
      <a class="navbar-brand" href="#">MaulidMemes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mx-auto"> </div>
        <ul class="navbar-nav">
          {% for link, nav_item in navbar %}
          <li class="nav-item">
            <a class="nav-link" href="{{link}}">{{nav_item}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>